<section class="grey_bg top_block_border padding_top_30px padding_bottom_70px">
  <div class="col-sm-12 no_side_padding">
    <div class="col-sm-6">
      <div class="col-sm-12 chi_siamo_top_image_container">
        <%= image_tag("divani/divano-letto-brianza.png", class: "img-responsive chi_siamo_image") %>
      </div>

      <div class="col-sm-12 padding_top_50px padding_bottom_10px font_size_15px padding_left_right_50px">
        La produzione interna ed effettuata dai nostri maestri artigiani nei laboratori di mariano comense e bovisio masc iago, ci permette di realizzare imbottiti (quali divani, letti- contenitore, poltrone e divani-letto) personalizzabili in base alle esigenze di spazio e colore. Il nostro show-room di erba, in corso xxv aprile 167/b, permette al cliente di poter visionare la nostra linea e di conoscere i nostri prodotti. Passione e ricercatezza di materiali di prima scelta, sono gli elementi che da sempre caratterizzano comfortable living e fanno dei nostri prodotti, qualità!
      </div>
    </div>

    <div class="col-sm-6 chi_siamo_text_container">

      <div class="col-sm-12 padding_top_30px padding_bottom_10px font_size_15px padding_left_right_50px">
        Comfortable living è una realtà brianzola che si occupa della progettazione e successiva realizzazione di arredamento e più nello specifico, punta a valorizzare maggiormente la propria linea di imbottiti. Da anni ci affidiamo alla “penna” di stimati professionisti, che si occupano della progettazione e dello sviluppo di imbottiti innovativi e sempre al passo con le nuove tipologie di arredamento.
      </div>

      <div class="col-sm-12 chi_siamo_bottom_image_container">
        <%= image_tag("divani/divano-multicolor-artigiano-del-divano.png", class: "img-responsive chi_siamo_image") %>
      </div>

    </div>
  </div>

  <div class="clearfix"></div>
</section>
