<section>
  <div class="col-sm-12 no_side_padding">
    <div class="home_slider_item">
      <span class="inline_block">
        <span class="block slider_big_text">
          Divani Design
        </span>

        <span class="block slider_medium_text">
          Produzione Propria
        </span>

        <span class="block">
          <%= link_to "Sfoglia", "#", class: "sfoglia_btn" %>
        </span>
      </span>
    </div>
  </div>

  <div class="clearfix"></div>
</section>
