<section class="padding_top_70px padding_bottom_30px">
  <div class="container">
    <div class="col-sm-12 text-center padding_bottom_20px section_heading">
      Chi Siamo
    </div>
  </div>
</section>

<%= render 'chi_siamo' %>
