<section id="dove_siamo" class="padding_top_70px padding_bottom_70px top_block_border <%= (params[:controller] == 'main' && params[:action] == 'index') || (params[:controller] == 'main' && params[:action] == 'chi_siamo') ? '' : 'grey_bg' %>">
  <div class="container">
    <div class="col-sm-12 text-center section_heading">
      Dove Siamo
    </div>

    <div class="col-sm-12 no_side_padding padding_top_20px flex">
      <div class="col-sm-6">
        <ul class="contacts_list">
          <li>
            <span class="inline_block">
              <span class="block contacts_orari_heading">
                Vieni a trovarci nel nostro show-room di erba
              </span>
              <span class="flex padding_top_15px">
                <span class="inline_block contacts_icon">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                </span>
                <span class="inline_block contacts_text">
                  Corso XXV Aprile 167/B
                </span>
              </span>
            </span>
          </li>

          <li>
            <span class="flex">
              <span class="inline_block contacts_icon">
                <i class="fa fa-phone" aria-hidden="true"></i>
              </span>
              <span class="inline_block contacts_text">
                3395377765
              </span>
            </span>
          </li>

          <li>
            <span class="flex">
              <span class="inline_block contacts_icon">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
              </span>
              <span class="inline_block contacts_text">
                <a href="mailto:info@comfortableliving.it" class="footer_email_link">info@comfortableliving.it</a>
              </span>
            </span>
          </li>

          <li>
            <span class="flex">
              <span class="inline_block contacts_icon">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </span>
              <span class="inline_block contacts_text">
                <a href="https://www.facebook.com/comfortablelivingerba/" class="footer_email_link">
                  @comfortablelivingerba
                </a>
              </span>
            </span>
          </li>

          <li class="padding_top_30px">
            <span class="block">
              <span class="inline_block contacts_text">
                <span class="block contacts_orari_heading">Orari apertura:</span>
                <span class="block contacts_orari_hours padding_top_15px">
                  <span class="inline_block hours_text">Lunedi:</span>
                  <span class="inline_block">15/19</span>
                </span>
                <span class="block contacts_orari_hours">
                  <span class="inline_block hours_text">Martedi-Sabato:</span>
                  <span class="inline_block">9/12.30- 15/19</span>
                </span>
                <span class="block contacts_orari_hours">
                  <span class="inline_block hours_text">Domenica:</span>
                  <span class="inline_block">Chiuso</span>
                </span>
              </span>
            </span>
          </li>
        </ul>
      </div>

      <div class="col-sm-6 mobile_padding_top_20px">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1390.5196669782254!2d9.2316893612701!3d45.81047063494601!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4786a044204b6add%3A0xb62e7a26140aaa97!2sCorso+XXV+Aprile%2C+167%2FB%2C+22036+Erba+CO%2C+Italy!5e0!3m2!1sen!2slv!4v1509230664446" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>
