<div class="col-sm-12 padding_bottom_40px no_side_padding flex">
  <div class="col-sm-3">
    <%= image_tag("materassi/icons/materassi-mecflex-melissano-072_lSzSYN4xSKqLczkOhZIH-692x587.png", class: "materassi_icon_property img-responsive") %>
  </div>

  <div class="col-sm-9">
    Il tessuto di rivestimento <span class="gold_text">AMICOR PURE</span>, è composto da una fibra, che grazie alla sua azione antimicrobica e antimicotica, protegge il tessuto dalla formazione di funghi e cattivi odori. All’interno della sua struttura è contenuto un principio attivo, il cui rivestimento superficiale è continuamente rigenerato.
  </div>
</div>
