<div class="col-sm-12 padding_bottom_40px no_side_padding flex">
  <div class="col-sm-3">
    <%= image_tag("materassi/icons/ergonomic-line-img05-685x633.jpg", class: "materassi_icon_property img-responsive") %>
  </div>

  <div class="col-sm-9">
    Il sistema <span class="gold_text">CAPITONNÈ</span>, frutto della perizia dei nostri maestri materassai, è lavorata a mano con resistenti lacci che attraversano i corpi elastici del materasso ancorandosi a tenute in velcro. Queste aderiscono ai pannelli di giacitura, garantendo indeformabilità e durata.
    <br>
    L’assenza di corpi sporgenti evita la rottura dei tessuti di rivestimento e delle stesse impunture. Il tessuto <span class="gold_text">BE COOL AIR FLOW CONTROL</span> è un tessuto di rivestimento termoregolatore. Ciò consente un microclima costante per un sonno continuo e confortevole, anche per chi soffre di forte sudorazione notturna.
  </div>
</div>
