<div class="col-sm-12 padding_bottom_40px no_side_padding flex">
  <div class="col-sm-3">
    <%= image_tag("materassi/icons/materassi-mecflex-melissano-030_wQ6mJ4ZTaGvhOebifLZN-692x610.png", class: "materassi_icon_property img-responsive") %>
  </div>

  <div class="col-sm-9">
    La struttura interna è composta da 2 strati:
    <br>
    <span class="gold_text">MEMORYMEC</span>: schiuma viscoelastica che distribuisce il peso del corpo omogeneamente, riducendo la pressione e regalando un massaggio naturale che riattiva la circolazione, lasciando riposare la struttura ossea. Inoltre regola l’umidità e mantiene costante la temperatura corporea.
    <br>
    <span class="gold_text">MECFOAM</span>: chiuma poliuretana, elastica e anallergica, contribuisce a mantenere un microclima ideale. È prodotta con il massimo rispetto per la salute e l’ambiente in quanto priva di sostanze tossiche. Inoltre, grazie a diversi gradi di morbidezza, risponde adeguatamente alla sollecitazione del peso corporeo.
  </div>
</div>
