<div class="col-sm-12 padding_bottom_40px no_side_padding flex">
  <div class="col-sm-3">
    <%= image_tag("materassi/icons/materassi-mecflex-melissano-007_OJPoMLXaStuCZGpUJDIg-686x617.png", class: "materassi_icon_property img-responsive") %>
  </div>

  <div class="col-sm-9">
    Il sistema <span class="gold_text">CAPITONNÈ</span>, frutto della perizia dei nostri maestri materassai, è lavorata a mano con resistenti lacci che attraversano i corpi elastici del materasso ancorandosi a tenute in velcro. Queste aderiscono ai pannelli di giacitura, garantendo indeformabilità e durata. L’assenza di corpi sporgenti evita la rottura dei tessuti di rivestimento e delle stesse impunture.
    <br><br>
    Il tessuto di rivestimento <span class="gold_text">ECOSOFT</span>, con tessitura jacquard è composto da microfibra e poliestere. È un tessuto anallergico, modellante e particolarmente robusto senza però sviluppare spessore.
  </div>
</div>
