<div class="col-sm-12 padding_bottom_40px no_side_padding flex">
  <div class="col-sm-3">
    <%= image_tag("materassi/icons/materassi-mecflex-melissano-085-691x650.png", class: "materassi_icon_property img-responsive") %>
  </div>

  <div class="col-sm-9">
    Il 100% <span class="gold_text">LATTICE NATURALE</span> utilizzato per questo materasso è estratto dalle piante di Hevea. Oltre ad essere ecosostenibile, questo tipo di materia prima garantisce una serie di importanti caratteristiche. La sua lavorazione consente la produzione di un materiale particolarmente elastico, e grazie alle migliaia microcelle di cui è composto, è anche molto traspirante e anallergico. La struttura inoltre è particolarmente modellante ed ergonomica poiché composta da una differenziazione delle zone di appoggio, le quali si modellano sul corpo in modo equilibrato e molto confortevole.
  </div>
</div>
