<div class="col-sm-12 padding_bottom_40px no_side_padding flex">
  <div class="col-sm-3">
    <%= image_tag("materassi/icons/materassi-mecflex-melissano-074_yVqJURNGSDSNZGm6iz78-700x638.png", class: "materassi_icon_property img-responsive") %>
  </div>

  <div class="col-sm-9">
    La struttura interna è composta dal
    <span class="gold_text">MECFOAM IGNIFUGA</span>:schiuma poliuretana ignifuga, elastica e anallergica, contribuisce a mantenere un microclima ideale. È prodotta con il massimo rispetto per la salute e l’ambiente in quanto priva di sostanze tossiche. Inoltre, grazie a diversi gradi di morbidezza, risponde adeguatamente alla sollecitazione del peso corporeo.
  </div>
</div>
