<div class="col-sm-12 padding_bottom_40px no_side_padding flex">
  <div class="col-sm-3">
    <%= image_tag("materassi/icons/ergonomic-line-img03-685x633.jpg", class: "materassi_icon_property img-responsive") %>
  </div>

  <div class="col-sm-9">
    La schiuma viscoelastica <span class="gold_text">MEMORYMEC</span> distribuisce il peso del corpo omogeneamente, riducendo la pressione e regalando un massaggio naturale che riattiva la circolazione, lasciando riposare la struttura ossea. Inoltre regola l’umidità e mantiene costante la temperatura corporea.
  </div>
</div>
