<div class="col-sm-12 padding_bottom_40px no_side_padding flex">
  <div class="col-sm-3">
    <%= image_tag("materassi/icons/materassi-mecflex-melissano-027_8wjswEQ6KPglEoRHWhAb-686x611.png", class: "materassi_icon_property img-responsive") %>
  </div>

  <div class="col-sm-9">
    Il sistema <span class="gold_text">BONNEL</span> è il sistema classico di molleggio. Questo tipo di struttura garantisce un elevato ricambio d’aria.Ogni singola molla a forma biconica è formata da un filo d’acciaio temperato e fosfatizzato, e da uno speciale trattamento che le rende indeformabili.
    <br>
    Le molle vengono assemblate con una spirale, che assicura una perfetta unione e ottimizza il lavoro delle molle stesse. I benefici del 700 MOLLE sono garantiti da un gran numero di molle consentendo una migliore distribuzione del peso su un elevato numero di punti di appoggio.
    Il <span class="gold_text">BOX SYSTEM</span> è la struttura perimetrale di sostegno, indeformabile, studiata per sostenere le frequenti sollecitazioni cui è sottoposto il materasso.
  </div>
</div>
