<section class="grey_bg padding_top_20px padding_bottom_30px">
  <div class="container no_side_padding">

    <div id="divani_design" class="col-sm-12 padding_top_20px">
      <span class="inline_block products_big_text">
        Presidio line
      </span>

      <span class="block product_small_text">
        L'azienda, con la nuova PRESIDIO LINE ha ulteriormente arricchito la gamma di prodotti con la registrazione presso il Ministero della Salute di dispositivi medici in Classe I, marcati CE secondo la direttiva 93/42/CE e s.m.i. La progettazione e la costruzione dei materassi come dispositivo medico attengono ai rigorosi principi di sicurezza regolati dalle normative europee e sono sempre allineati al continuo progresso tecnologico rionosciuto sul mercato.
      </span>
    </div>

  </div>
</section>

<section class="top_block_border">
  <div class="container no_side_padding">

    <div class="col-sm-12 no_side_padding products_list_container margin_top_20px">
      <div class="col-sm-4 text-center">
        <%= link_to medical_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("materassi/Presidio/Medical/materassi-mecflex-melissano-118-1000x428.png", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            Mec Medical
          </span>
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to sanity_path, class: "product_link" do %>
          <span class="block">
            <%= image_tag("materassi/Presidio/Sanity/materassi-mecflex-melissano-122-1000x410.png", class: "img-responsive home_products_image") %>
          </span>

          <span class="inline_block product_heading">
            Mec Sanity
          </span>
        <% end %>
      </div>

    </div>

  </div>
</section>
