<div class="col-sm-12 padding_bottom_40px no_side_padding flex">
  <div class="col-sm-3">
    <%= image_tag("materassi/icons/materassi-mecflex-melissano-006_bvNvzSaLRdmawherWNVd-690x615.png", class: "materassi_icon_property img-responsive") %>
  </div>

  <div class="col-sm-9">
    La schiuma <span class="gold_text">PULSE</span> è una schiuma di lattice, composta da elementi che hanno un'elevata resistenza alla trazione. Questa schiuma di lattice, grazie alle eccellenti proprietà di ventilazione della sua struttura, offre un microclima perfettamente equilibrato ed un ottimizzato controllo dell'umidità.
    <br><br>
    The <span class="gold_text">PULSE</span> foam is a latex foam, composed of elements that have a high resistance to traction.This foam, thanks to the excellent ventilation features of its structure, provides a perfectly balanced microclimate and an optimized humidity control.
  </div>
</div>
