<div class="col-sm-12 padding_bottom_40px no_side_padding flex">
  <div class="col-sm-3">
    <%= image_tag("materassi/icons/materassi-mecflex-melissano-022_nRIDQyInRzCcCBj8rnXy-740x610.png", class: "materassi_icon_property img-responsive") %>
  </div>

  <div class="col-sm-9">
    <span class="gold_text">SANICOT</span> è uno speciale trattamento del tessuto, assolutamente naturale, che aiuta ad eliminare acari, muffe e batteri, distruggendo le sostanze organiche che sono il nutrimento di questi parassiti. Grazie a queste caratteristiche, <span class="gold_text">SANICOT</span> risulta un valido aiuto per soggetti particolarmente allergici.
    <br><br>
    <span class="gold_text">SANICOT</span> is a special and absolutely natural fabric treatment, which helps to eliminate dust mites, mold and bacteria, destroying the organic substances which are the nourishment of these parasites. Thanks to these features, SANICOT is a valuable aid especially for allergy sufferers.
  </div>
</div>
