<div class="col-sm-12 padding_bottom_40px no_side_padding flex">
  <div class="col-sm-3">
    <%= image_tag("materassi/icons/silversafe-670x621.jpg", class: "materassi_icon_property img-responsive") %>
  </div>

  <div class="col-sm-9">
    Il sistema <span class="gold_text">CAPITONNÈ</span>, frutto della perizia dei nostri maestri materassai, è lavorata a mano con resistenti lacci che attraversano i corpi elastici del materasso ancorandosi a tenute in velcro. Queste aderiscono ai pannelli di giacitura, garantendo indeformabilità e durata.
    <br>
    L’assenza di corpi sporgenti evita la rottura dei tessuti di rivestimento e delle stesse impunture. Il tessuto di rivestimento SILVERSAFE è un innovativo tessuto composto da una fibra in argento puro. Tale fibra consente un’eccellente antistaticità, aiutando a scaricare le fastidiose cariche elettrostatiche, ed è un ottimo regolatore termico, poiché la sua proprietà riflettente aiuta a distribuire il calore corporeo in modo uniforme. Inoltre è un tessuto antimicrobico che inibisce la formazione di acari, microrganismi e cattivi odori.
  </div>
</div>
