<div class="col-sm-12 padding_bottom_40px no_side_padding flex">
  <div class="col-sm-3">
    <%= image_tag("materassi/icons/materassi-mecflex-melissano-113-690x617.png", class: "materassi_icon_property img-responsive") %>
  </div>

  <div class="col-sm-9">
    Il tessuto <span class="gold_text">TREVIRA CS IGNITEX</span> è un tessuto di rivestimento composto da una fibra igienica ignifuga. La sua particolare struttura cellulare garantisce al tessuto un effetto antimicotico e di qualità certificata.
  </div>
</div>
