body {
  font-family: 'Poppins', sans-serif;
  color: #000;
}

.changa {
  font-family: 'Changa', sans-serif;
}

.grey_bg {
  background: #f3f3f3;
}

.top_block_border {
  border-top: 1px solid #e6e6e6;
  -webkit-box-shadow: inset 0px 30px 16px -30px #e6e6e6;
  -moz-box-shadow: inset 0px 30px 16px -30px #e6e6e6;
  box-shadow: inset 0px 30px 16px -30px #e6e6e6;
}

.gold_text {
  color: #bca480;
}

.gold_dash {
  width: 250px;
  height: 10px;
  background: #bca480;
}

.logo_img {
  max-height: 130px;
}

.top_nav_heading {
  padding: 20px 0;
  font-size: 22px;
  font-weight: 600;
  font-family: 'Changa', sans-serif;
  text-transform: uppercase;
}

.nav_list {
  margin: 0;
  padding: 0;
  padding: 30px 0 0 0;

  @media (min-width: 768px) {
    display: flex;
    justify-content: center;
  }

  @media (max-width: 768px) {
    padding: 0 0 15px 0;
  }
}

.nav_list li {
  margin: 0;
  padding: 0;

  @media (max-width: 768px) {
    display: block;
    width: 100%;
  }
}

.nav_item {
  display: block;
  padding: 10px 20px 10px;
  border-bottom: 7px solid #000;
  transition: all 0.2s ease;
  color: #000;
  font-size: 18px;
  font-weight: 600;

  @media (max-width: 768px) {
    border: none;
  }
}

.nav_item.active {
  border-color: #bca480;
  text-decoration: none;
  color: #bca480;
}

.nav_item:hover, .nav_item:focus {
  border-color: #bca480;
  text-decoration: none;
  color: #bca480;
}

.middle_heading {
  font-family: 'Changa', sans-serif;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  padding: 15px 0 15px 0;
}

.home_products_list_container {
  padding: 50px 0;
}

.home_products_image {
  min-height: 147px;
  border: 5px solid transparent;
  transition: all 0.6s ease;

  &:hover, &:focus {
    border-color: #bca480;
  }
}

.products_more_link {
  color: #000;
  padding: 5px 10px;
  border: 3px solid #000;
  text-align: center;
  margin-top: 20px;
  display: inline-block;
  transition: all 0.2s ease;

  &:hover, &:focus {
    border-color: #bca480;
    text-decoration: none;
    color: #bca480;
  }
}

.home_slider_item_first {
  margin: 0px auto;
  background-color: transparent;
  padding: 0px;
  background-image: asset-data-url('divani/divano-boston.png');
  background-repeat: no-repeat;
  background-size: auto 400px;
  background-position: center right 10%;
  height: 500px;
  overflow: visible;
  display: flex;
  align-items: center;
  padding-left: 8%;
}

.home_slider_item_second {
  margin: 0px auto;
  background-color: transparent;
  padding: 0px;
  background-image: asset-data-url('divani/divano-alexander.png');
  background-repeat: no-repeat;
  background-size: auto 400px;
  background-position: center right 10%;
  height: 500px;
  overflow: visible;
  display: flex;
  align-items: center;
  padding-left: 8%;
}

.home_slider_item_third {
  margin: 0px auto;
  background-color: transparent;
  padding: 0px;
  background-image: asset-data-url('divani/divano-letto-brianza.png');
  background-repeat: no-repeat;
  background-size: auto 400px;
  background-position: center right 10%;
  height: 500px;
  overflow: visible;
  display: flex;
  align-items: center;
  padding-left: 8%;
}

.home_slider_item_fourth {
  margin: 0px auto;
  background-color: transparent;
  padding: 0px;
  background-image: asset-data-url('divani/divano-multicolor-artigiano-del-divano.png');
  background-repeat: no-repeat;
  background-size: auto 350px;
  background-position: center right 10%;
  height: 500px;
  overflow: visible;
  display: flex;
  align-items: center;
  padding-left: 8%;
}

.home_slider_item_fifth {
  margin: 0px auto;
  background-color: transparent;
  padding: 0px;
  background-image: asset-data-url('divani/serena-angolare.png');
  background-repeat: no-repeat;
  background-size: auto 400px;
  background-position: center right 10%;
  height: 500px;
  overflow: visible;
  display: flex;
  align-items: center;
  padding-left: 8%;
}

.home_slider_item_six {
  margin: 0px auto;
  background-color: transparent;
  padding: 0px;
  background-image: asset-data-url('divani/murano-penisola.png');
  background-repeat: no-repeat;
  background-size: auto 400px;
  background-position: center right 10%;
  height: 500px;
  overflow: visible;
  display: flex;
  align-items: center;
  padding-left: 8%;
}

.home_slider_item_seven {
  margin: 0px auto;
  background-color: transparent;
  padding: 0px;
  background-image: asset-data-url('divani/serena-angolare.png');
  background-repeat: no-repeat;
  background-size: auto 400px;
  background-position: center right 10%;
  height: 500px;
  overflow: visible;
  display: flex;
  align-items: center;
  padding-left: 8%;
}

.slider_big_text {
  font-size: 50px;
  font-weight: 900;

  @media (max-width: 768px) {
    color: #fff;
  }
}

.slider_medium_text {
  font-size: 26px;
  text-transform: uppercase;

  @media (max-width: 768px) {
    color: #fff;
  }
}

.sfoglia_btn {
  color: #000;
  padding: 7px 15px;
  border: 3px solid #bca480;
  text-align: center;
  margin-top: 20px;
  display: inline-block;
  transition: all 0.4s ease;
  text-transform: uppercase;
  font-size: 16px;

  @media (max-width: 768px) {
    color: #fff;
  }
}

.sfoglia_btn:hover, .sfoglia_btn:focus {
  background-color: #bca480;
  text-decoration: none;
  color: #fff;
}

.home_materassi_img_container {
  background: #e8e8e8;
}

.subheading_text {
  font-size: 16px;
  max-width: 600px;
}

.section_heading {
  padding: 20px 0;
  font-size: 32px;
  font-weight: 600;
  font-family: 'Changa', sans-serif;
}

.contacts_list {
  @media (max-width: 768px) {
    padding: 0;
  }
}

.contacts_list li {
  list-style: none;
}

.contacts_orari_heading {
  font-weight: 600;
  font-size: 18px;
  padding: 5px 0;
  border-bottom: 2px solid #000;
}

.contacts_orari_hours {
  padding: 5px 0;
  font-size: 16px;
}

.hours_text {
  font-weight: 600;
  min-width: 200px;
}

.contacts_icon {
  min-width: 35px;
  font-size: 22px;
}

.contacts_text {
  font-size: 16px;
}

.footer_email_link {
  color: #000;
  text-decoration: underline;
  transition: all 0.1s ease;

  &:hover, &:focus {
    font-weight: 600;
    color: #000;
    outline: none;
  }
}

.products_list_container {
  padding: 25px 0;

  @media (max-width: 768px) {
    padding: 0;
  }
}

.product_list_image {
  min-height: 206px;
}

.products_big_text {
  font-weight: 900;
  font-size: 36px;
  color: #bca480;
  border-bottom: 7px solid #bca480;
  margin-bottom: 30px;
}

.product_heading {
  font-family: 'Changa', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding: 15px 0 1px 0;
  text-transform: uppercase;
}

.product_link {
  color: #000;

  .product_heading {
    border-bottom: 3px solid transparent;
    transition: all 0.2s ease;
  }

  &:hover, &:focus {
    color: #000;
    text-decoration: none;
    outline: none;

    .product_heading {
      border-color: #bca480;
    }
  }
}

.product_thumbnail {
  max-height: 62px;
}

.product_show_heading {
  font-family: 'Changa', sans-serif;
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
  color: #bca480;
  display: block;
  text-transform: uppercase;

  @media (max-width: 768px) {
    padding-top: 20px;
  }
}

.product_description {
  padding-top: 15px;
  line-height: 22px;
  display: block;
}

.letti_description {
  @media (min-width: 1024px) {
    max-width: 500px;
  }
}

.divani_sizes_heading {
  font-family: 'Changa', sans-serif;
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  padding-top: 50px;
}

.divani_sizes_subheading {
  font-family: 'Changa', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  padding-top: 10px;
}

.divani_sizes_container {
  margin-top: 30px;
}

.divani_sizes_text_container {
  margin-top: 30px;
  padding: 10px 20px 5px 20px;
  background: #f5f5f5;
  border: 1px solid #e6e6e6;
  font-size: 13px;
}

.divani_size_list {
  margin: 0;
  padding: 5px 0 0 25px;
}

.divani_size_list li {
  padding: 3px;
}

.products_slider_container {
  padding: 25px 0 25px 15px;
}

//products carousel

.products_slider_carousel {
  .carousel-control {
    width: 8%;
    width: 0px;
  }
  .carousel-control.left a .glyphicon,
  .carousel-control.right a .glyphicon {
    color: #000;
    top: calc(50% - 15px);
  }
  .carousel-control > a > span {
    color: white;
    font-size: 29px !important;
  }
  .carousel-control.right {
    right: -30px;

    @media (max-width: 768px) {
      right: 0;
    }
  }
  .carousel-control.left {
    left: -40px;

    @media (max-width: 768px) {
      left: 0;
    }
  }
  .carousel-col {
    position: relative;
    min-height: 1px;
    padding: 5px 15px;
    float: left;
   }

   .active > div { display:none; }
   .active > div:first-child { display:block; }

  /*xs*/
  @media (max-width: 767px) {
    .carousel-inner .active.left { left: -100%; }
    .carousel-inner .active.right { left: 100%; }
    .carousel-inner .next        { left:  100%; }
    .carousel-inner .prev		     { left: -100%; }
    .carousel-col                { width: 100%; }
    .active > div:first-child { display:block; }
  }

  /*sm*/
  @media (min-width: 768px) and (max-width: 991px) {
    .carousel-inner .active.left { left: -50%; }
    .carousel-inner .active.right { left: 50%; }
    .carousel-inner .next        { left:  50%; }
    .carousel-inner .prev		     { left: -50%; }
    .carousel-col                { width: 50%; }
    .active > div:first-child + div { display:block; }
  }

  /*md*/
  @media (min-width: 992px) and (max-width: 1199px) {
    .carousel-inner .active.left { left: -33%; }
    .carousel-inner .active.right { left: 33%; }
    .carousel-inner .next        { left:  33%; }
    .carousel-inner .prev		     { left: -33%; }
    .carousel-col                { width: 33%; }
    .active > div:first-child + div { display:block; }
    .active > div:first-child + div + div { display:block; }
  }

  /*lg*/
  @media (min-width: 1200px) {
    .carousel-inner .active.left { left: -33%; }
    .carousel-inner .active.right{ left:  33%; }
    .carousel-inner .next        { left:  33%; }
    .carousel-inner .prev		     { left: -33%; }
    .carousel-col                { width: 33%; }
    .active > div:first-child + div { display:block; }
    .active > div:first-child + div + div { display:block; }
  }

  @media not all, (-webkit-transform-3d) {
    .carousel-inner>.item  {
      transition: none;
    }
  }
}

.home_carousel {
  .carousel-control.left, .carousel-control.right {
    display: flex !important;
    justify-content: center;
    width: 50px;
    height: 50px;
    position: absolute;
    top: calc(50% - 20px);
    font-size: 50px;
    line-height: 50px;
    transition: all 0.2s linear;
    cursor: pointer;
    z-index: 100;
    background: none;
    text-shadow: none;
  }

  .carousel-control.left a, .carousel-control.right a {
    color: #000;
  }

  .carousel-indicators .active {
    background-color: #333;
    width: 15px;
    height: 15px;
  }

  .carousel-indicators li {
    border: 1px solid #676767;
    width: 13px;
    height: 13px;
    margin: 0 3px;
  }

  @media screen and (min-width: 768px) {
    .carousel-indicators {
      bottom: -25px;
    }
  }
}

// products carousel end

.chi_siamo_top_image_container {
  margin-top: -170px;
}

.chi_siamo_bottom_image_container {
  top: 70px;
  margin-bottom: -200px;
}

.product_image_gallery_link {
  margin-top: 10px;
  display: inline-block;
}

.product_image_gallery_link, .fancybox-button {
  &:hover, &:focus {
    outline: none;
  }
}

.materassi_icon_description {
  max-height: 45px;

  @media (max-width: 768px) {
    margin-top: 20px;
  }
}

.materassi_icon_property {
  max-height: 200px;
  margin: 0 auto;

  @media (max-width: 768px) {
    margin-bottom: 20px;
  }
}
