<section class="grey_bg padding_top_50px">
  <div class="container no_side_padding">

    <%= render 'divani_design' %>

    <%= render 'divani_relax' %>

    <%= render 'divani_letto' %>

  </div>
</section>
